<button [routerLink]="['/']"  type="button" pButton label="<=חזור"></button>

<form [formGroup]="taskForm" (ngSubmit)="addTask()">
    <div>
         <span class="p-input-icon-left">           
            <input type="text" pInputText name="title" formControlName="Title" placeholder="שם משימה" >
            <div *ngIf="taskForm.controls['Title'].dirty  && taskForm.controls['Title'].touched">
                <small *ngIf="taskForm.controls['Title'].errors?.required" class="text-danger">שדה חובה</small>
            </div>
        </span>
    </div>
    <div>
        <span class="p-input-icon-left" *ngIf="typeTask$ | async as types">            
            <p-dropdown  [options]="types" name="type" formControlName="Type" placeholder="סוג משימה" 
            optionLabel="title"  inputId="dropdown" [autoDisplayFirst]="false" ></p-dropdown>
            <div *ngIf="taskForm.controls['Type'].dirty  && taskForm.controls['Type'].touched">
                <small *ngIf="taskForm.controls['Type'].errors?.required" class="text-danger">שדה חובה</small>
            </div>  
        </span>
    </div>
    <div>
        <span class="p-input-icon-left">            
            <input type="text" pInputText name="description" formControlName="Description" placeholder="תיאור משימה">         
        </span>
    </div>
    <app-range-dates formControlName="RangeDates"></app-range-dates>   
    <div>
        <span class="p-input-icon-left"> 
            <div class="p-field-checkbox">
                <p-checkbox formControlName="IsRepeated" [binary]="true" inputId="binary"></p-checkbox>
                <label for="binary">האם משימה חוזרת?</label>
            </div>           
         
        </span>
    </div>
    <br/>
    <button pButton type="submit" [disabled]="(taskForm.status == 'PENDING' ||taskForm.status=='INVALID')"> שמור </button>
  </form> 
    

