form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
    flex-direction:column;
    flex-wrap: wrap;
}
input.ng-dirty.ng-invalid {
    border-color: red;
  }
