<div *ngIf="tasks$ | async as tasks">
<p-table [value]="tasks" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="caption">
        <button [routerLink]="['/newTask']"  type="button" pButton label="צור משימה חדשה"></button>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
            <th>מזהה ייחודי של משימה </th>
            <th>סוג משימה</th>
            <th>שם המשימה</th>
            <th>תיאור המשימה</th>
            <th>תאריך התחלה</th>
            <th>תאריך סיום</th>
            <th>עדכון משימה חוזרת</th>
            <th>עדכון משימה הסתיימה</th>
            <th>מחיקת משימה</th>            
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-task>
      <tr>
        <td>{{task.id}}</td>
        <td *ngIf="typeTask$ | async as types">
          <p-dropdown  [options]="types" name="type" [ngModel]="task.type" (onChange)="changeTypeTask($event,task)"
          placeholder="סוג משימה" 
          optionLabel="title"  inputId="dropdown" [autoDisplayFirst]="false" ></p-dropdown>

        </td>
        <td>{{task.title}}</td>
        <td>{{task.description}}</td>
        <td>{{task.rangeDates.startDate|date: 'dd/MM/yyyy'}}</td>
        <td>{{task.rangeDates.finishDate|date: 'dd/MM/yyyy'}}</td>
        <td><p-checkbox name="isRepeated" [ngModel]="task.isRepeated" (onChange)="changeIsRepeatedTask($event,task)"
          [binary]="true"></p-checkbox></td>
        <td><p-checkbox name="completed" [ngModel]="task.completed" (onChange)="changeCompletedTask($event,task)"
            [binary]="true"></p-checkbox></td>
        <td><button type="button" (click)="deleteTask(task.id)" pButton label="מחק משימה"></button></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" style="text-align: center;">
     <span style="text-align: center;"><strong>create by:</strong> Michal Gahali programmer-0527156397</span>
    </ng-template>
  </p-table>
</div>
  
