<div *ngIf="task$ | async as tasks">
<p-table [value]="tasks" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="caption">
        <button [routerLink]="['/newTask']"  type="button" pButton label="צור משימה חדשה"></button>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
            <th>מזהה ייחודי של משימה </th>
            <th>סוג משימה</th>
            <th>שם המשימה</th>
            <th>תיאור המשימה</th>
            <th>תאריך התחלה</th>
            <th>תאריך סיום</th>
            <th>האם משימה חוזרת</th>
            <th> האם משימה הסתיימה</th>
            <th>עדכון הסטאטוס</th>
            <th>מחיקת משימה</th>            
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-task>
      <tr>
        <td>{{task.id}}</td>
        <td>{{task.type}}</td>
        <td>{{task.title}}</td>
        <td>{{task.description}}</td>
        <td>{{task.startDate|date: 'dd/MM/yyyy'}}</td>
        <td>{{task.finishDate|date: 'dd/MM/yyyy'}}</td>
        <td>{{task.isRepeated}}</td>
        <td>{{task.completed}}</td>
        <td><p-checkbox name="groupname" [value]="task.completed" [ngModel]="task.completed" (onChange)="changeTask(task)" [binary]="true"></p-checkbox></td>
        <td><button type="button" (click)="deleteTask(task.id)" pButton label="מחק משימה"></button></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" style="text-align: center;">
     <span style="text-align: center;"><strong>create by:</strong> Michal Gahali programmer-0527156397</span>
    </ng-template>
  </p-table>
</div>
  
